* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #b4a9a9;
  }
  
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #235392;
    height: 60px;
    padding: 0 2rem;
  }
  
  nav {
    display:none;
  }
  

h1 { 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  

}

/* Define o estilo do cabeçalho da página */
header {
  
  display:flex;
  justify-content:center;
  align-items: left;
  background-color: #235392;
  height: 90px;
  padding: 0 2rem;
}


/* Define o estilo do formulário de cálculo */
form {
  margin: 80px auto; /* Centraliza verticalmente e ajusta horizontalmente */
  max-width: 500px; /* Define a largura máxima do formulário */
  background-color: #ece2e2;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 40px rgb(10, 9, 9);
  text-align: left;
  font-weight: bold;
}


/* Define o estilo dos campos de entrada do formulário */
form input[type="text"], form select {
  display: inline-block;
  width: 150px;
  height: 20px;
  padding: 15px;
  margin-bottom: 10px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}

/* Define o estilo do botão de enviar do formulário */
form input[type="submit"] {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #b68d57;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

/* Define o estilo do campo de entrada de valores */
input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 150px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

/* Define o estilo do botão de limpar do formulário */
input[type="button"] {
  padding: 8px 19px;
  background-color: #235392;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 19px;
  cursor: pointer;
  display: block;
  margin: 30px 100px 50px;
  font-weight: bold;
}

/* Define o estilo das seções de resultado */
#imposto_de_renda_desconto,
#salario_liquido {
  color: #345eac;
  font-size: 30px;
  font-weight: bold;
  display: flow-root ;
  margin: 15px;
  font-weight: bold;
#previdencia_desconto {
  color: #f51b1b;
  font-size: 19px;
  font-weight: bold;
  display: flow-root ;
  margin: 8px;
}
#aliquota_previdencia { 
  color: #080807;

}

a {
  font-size: auto;
  text-decoration: none;
}
a:hover {
  background-color: #95989e;
}






  
  